<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>User Management Page</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<main role="main" class="container">
    <h2>Admin Management Page</h2>

    <div class="row col-md-12">

        <div class="row col-md-12">
            <div class="col-md-1"><b>Id</b></div>
            <div class="col-md-2"><b>Username</b></div>
            <div class="col-md-2"><b>Email</b></div>
            <div class="col-md-2"><b>Phone number</b></div>
            <div class="col-md-2"><b>Roles</b></div>
            <div class="col-md-3" style="text-align:center;"><b>Options</b></div>
        </div>

        <div class="row col-md-12" th:each="user, iter : ${user_list}">
            <div class="col-md-1" th:text="${user.getId()}"></div>
            <div class="col-md-2" th:text="${user.getUsername()}"></div>
            <div class="col-md-2" th:text="${user.getEmail()}"></div>
            <div class="col-md-2" th:text="${user.getPhoneNumber()}"></div>
            <div class="col-md-3" style="font-size:75%" th:text="${user_roles[iter.index]}"></div>
            <div class="col-md-1" style="text-align:center; font-size:75%" >
                <a th:href="@{'/admin/remove?userToRemoveId=' + ${user.getId()}}">Remove</a></div>
            <div class="col-md-1" style="text-align:center; font-size:75%"><a>Update</a></div>

        </div>
    </div>



</main>
<th:block th:include="template :: scripts_footer"/>
</body>
</html>

