<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Enroled Users Page</title>
</head>
<body class="picture">
<th:block th:include="template :: navigator"/>
<main role="main" class="container wider">
    <h2 class="row col-md-3" style="color: #333333; font-family:'Harlow Solid Italic'">Enroled Users Page</h2>
    <hr>
    <hr>
    <div class="row col-md-12">

        <div style="background-color:tan;color:#333333;padding:20px;" class="row col-md-12">
            <div class="col-md-1"><b>Id</b></div>
            <div style="text-align:center;" class="col-md-2"><b>Date</b></div>
            <div style="text-align:center;" class="col-md-2"><b>Event Name</b></div>
            <div class="col-md-2"><b>Places ocuppied</b></div>
            <div class="col-md-2"><b>Options</b></div>

        </div>

        <div style="background-color:lightgoldenrodyellow;color:#333333;padding:20px;" class="row col-md-12"
             th:each="res,iter : ${reservations}">
            <div class="col-md-1" th:text="${res.getId()}"></div>
            <div class="col-md-2" th:text="${res.isApproved()}"></div>
            <div class="col-md-2" th:text="${res.isDenied()}"></div>
            <div class="col-md-2" th:text="${res.getReserver().getName()}"></div>
            <div class="col-md-2">
                <a th:href="@{'/organizer/agreeReservation/'+${eventId}+'/'+${res.getId()}}">Approve</a>
                <a th:href="@{'/organizer/disagreeReservation/'+${eventId}+'/'+${res.getId()}}">Deny</a>
            </div>
            <!--<div class="col-md-2" th:text="${event.getOwner()}"></div>-->
            <!--<div class="col-md-3" style="font-size:75%" th:text="${user_roles[iter.index]}"></div>-->
        </div>
    </div>
    <hr>


</main>
<th:block th:include="template :: scripts_footer"/>
</body>
</html>